<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create article</title>

  <script src="https://cdn.tiny.cloud/1/j26milfo1aew6x3bd3qxbkmm1zuiq9deftbapcchllv62guf/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

</head>
<body>
<form th:action="@{/admin/article/create}" th:object="${article}" method="post">
  <p>Title: <input type="text" th:field="*{title}" /></p>
  <p>Content: <textarea th:field="*{content}"></textarea></p>
  <button type="submit">Create article</button>
</form>

<script>
  tinymce.init({
    selector: 'textarea',
    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
    mergetags_list: [
      { value: 'First.Name', title: 'First Name' },
      { value: 'Email', title: 'Email' },
    ]
  });
</script>

</body>
</html>