<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout.html}">
    <head>
        <title>Admin</title>
    </head>
    <body>
        <section layout:fragment="content">
            <!--Logged user: <span sec:authentication="name"></span>
            Roles: <span sec:authentication="principal.authorities"></span>-->

            <ol class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <a th:href="@{/admin/articles}" class="btn btn-link">Articles</a>
                    </div>
                    <span class="badge bg-primary rounded-pill" th:text="${articlesCount}"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <a th:href="@{/admin/categories}" class="btn btn-link">Categories</a>
                    </div>
                    <span class="badge bg-primary rounded-pill" th:text="${categoriesCount}"></span>
                </li>
            </ol>
        </section>
    </body>
</html>