<!DOCTYPE HTML>
<html
        xmlns:th="https://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout.html}">
<head>
    <title>Archive</title>
</head>
<body>
<section layout:fragment="content">
    <div class="row mb-2">
        <div th:each="article: ${articles}" class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0" th:text="${article.title}"></h3>
                    <div class="mb-1 text-body-secondary" th:text="${article.createdOn}"></div>
                    <div class="card-text mb-auto" th:utext="${article.content}"></div>
                    <a th:href="@{/{id}(id=${article.id})}" class="stretched-link">Continue reading</a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>